<!DOCTYPE html>
<html>

<head>
    <title>Cosmos DB Data</title>
    <link rel="stylesheet" href="../static//style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="cosmos.js"></script> -->
</head>

<body>
    <div class="form-container" id="form-container">

        <form id="add-book-form" action="/submit" method="POST">
            <input type="text" id="title-input" name="title-input" placeholder="タイトル" required>
            <input type="text" id="kind-input" name="kind-input" placeholder="優しさ" required>
            <input type="date" id="date-input" name="date-input" required>
            <textarea id="text-input" name="text-input" placeholder="テキスト" rows="4" required></textarea>
            <input type="submit" value="追加">
        </form>
    </div>

    <!-- <button id="add-button" onclick="toggleForm()">＋</button> -->

    <div id="books-container"></div>
</body>

</html>